$background-color: #0e0e10;
$header-background-color: #18181bcc;
$block-background-color: #18181b;
$border-color: #2a2a31;
$button-background-color: #1f1f23;
$text-gray-color: #adadb8;
$text-white-color: #efeff1;
$text-red-color: #ff453a;
$text-green-color: #34c759;
$button-hover-color: #772ce8;
$button-active-color: #6b27d1;