$background-color: #0e0e10;
$block-background-color: #18181bcc;
$border-color: #2a2a31;
$button-background-color: #1f1f23;
$text-gray-color: #adadb8;
$text-white-color: #ffffff;
$button-hover-color: #772ce8;