@import "../colors.scss";

.chat-header {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 18px;

	.chat-header-left {
		.chat-title {
			text-align: left;
			text-transform: capitalize;
			font-size: 30px;
			margin-bottom: 8px;
			font-weight: 600;
			color: $text-white-color;
			font-family: JuraBold, sans-serif;
		}

		.chat-description {
			text-align: left;
			font-size: 16px;
			color: $text-gray-color;
			font-family: JuraSemiBold, sans-serif;
			margin-bottom: 0;
		}
	}

	.chat-header-right {
		display: flex;
		align-items: center;
		justify-content: center;

		.chat-header-button {
			margin-left: 10px;
			padding: 10px 16px;
			min-width: 120px;

			background-color: $button-active-color;
			color: $text-white-color;
			border-radius: 10px;
			border: 0;

			font-family: JuraBold, sans-serif;
			font-size: 14px;

			transition: background-color 0.2s linear;

			&:focus {
				outline: none;
			}

			&:hover {
				background-color: $button-hover-color;
			}
		}
	}
}
