@import "../colors.scss";

.chat-composer-block {
	padding: 14px;
	display: flex;
	flex-direction: column;

	.chat-composer-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;

		.chat-composer-bot {
			.chat-composer-bot-label {
				font-size: 12px;
				color: $text-gray-color;
				font-family: JuraSemiBold, sans-serif;
				margin: 0 0 2px;
			}

			.chat-composer-bot-value {
				font-size: 14px;
				color: $text-white-color;
				font-family: JuraBold, sans-serif;
				margin: 0;
			}
		}

		.chat-composer-actions {
			display: flex;
			align-items: center;
			justify-content: center;

			.chat-composer-mode {
				padding: 8px 14px;
				border-radius: 10px;
				border: 1px solid $border-color;

				background-color: $button-background-color;
				color: $text-white-color;

				font-family: JuraBold, sans-serif;
				font-size: 14px;
				text-transform: capitalize;
			}
		}
	}

	.chat-composer-textarea {
		width: 100%;
		min-height: 90px;
		resize: none;

		padding: 12px 12px;
		border-radius: 10px;

		background-color: $button-background-color;
		color: $text-white-color;

		border: 1px solid $border-color;
		outline: none;

		font-family: JuraSemiBold, sans-serif;
		font-size: 14px;
		line-height: 1.4;

		transition: border-color 0.2s linear;

		&::placeholder {
			color: rgba(255, 255, 255, 0.35);
		}

		&:focus {
			border-color: $button-hover-color;
		}

		&:disabled {
			opacity: 0.6;
		}
	}

	.chat-composer-bottom {
		margin-top: 10px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.chat-send-button {
			padding: 10px 18px;

			background-color: $button-active-color;
			color: $text-white-color;

			border-radius: 10px;
			border: 0;

			font-family: JuraBold, sans-serif;
			font-size: 14px;

			transition: background-color 0.2s linear;

			&:focus {
				outline: none;
			}

			&:hover {
				background-color: $button-hover-color;
			}

			&:disabled {
				opacity: 0.6;
			}
		}
	}
}
