@import "../colors.scss";

.chat-popout-container {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: $background-color;
	display: flex;
	flex-direction: column;

	.chat-popout-content {
		flex: 1;
		min-height: 0;
		overflow: hidden;

		.chat-feed-block {
			width: 100%;
			height: 100%;
			border-radius: 0;
			border: 0;
		}
	}
}
