@import "../colors.scss";

.chat-stream-frame-block {
	flex: 1 1 auto;
	width: 100%;
	min-height: 0;
	overflow: hidden;
	position: relative;
	display: block;

	.chat-stream-frame {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
		display: block;
	}
}
