@import "../colors.scss";

.chat-stream-frame-block {
	flex: 1 1 auto;
	width: 100%;
	min-height: 0;
	overflow: hidden;
	border-bottom: 1px solid $border-color;

	.chat-stream-frame {
		width: 100%;
		height: 100%;
		border: 0;
	}
}
