@import "../colors.scss";

.main-chat-block {
	padding: 20px 40px 0;

	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	overflow: hidden;

	.chat-content-block {
		width: 100%;
		overflow: hidden;

		.chat-warning {
			width: 100%;
			background-color: $block-background-color;
			border: 1px solid $border-color;
			border-radius: 10px;
			padding: 12px 14px;

			font-size: 14px;
			color: $text-red-color;
			font-family: JuraSemiBold, sans-serif;

			margin-bottom: 14px;
		}

		.chat-layout {
			width: 100%;

			height: calc(100vh - 210px);

			display: grid;
			grid-template-columns: 360px 1fr 320px;
			gap: 14px;

			overflow: hidden;

			min-height: 0;

			&.chat-layout-feed-collapsed {
				grid-template-columns: 1fr 320px;
			}

			&.chat-layout-bots-collapsed {
				grid-template-columns: 360px 1fr;
			}

			&.chat-layout-feed-collapsed.chat-layout-bots-collapsed {
				grid-template-columns: 1fr;
			}

			.chat-feed-block,
			.chat-bots-block,
			.chat-stream-block {
				background-color: $block-background-color;
				border: 1px solid $border-color;
				border-radius: 10px;
				overflow: hidden;
				display: flex;
				flex-direction: column;

				min-height: 0;
			}

			.chat-stream-block {
				display: grid;
				grid-template-rows: 1fr auto;
			}
		}
	}
}
