@import "../colors.scss";

.main-chat-block {
	padding: 20px 20px 0;

	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	overflow: hidden;

	.chat-content-block {
		width: 100%;
		overflow: hidden;

		.chat-warning {
			width: 100%;
			background-color: $block-background-color;
			border: 1px solid $border-color;
			border-radius: 10px;
			padding: 12px 14px;

			font-size: 14px;
			color: $text-red-color;
			font-family: JuraSemiBold, sans-serif;

			margin-bottom: 14px;
		}

		.chat-layout {
			width: 100%;

			height: calc(100vh - 110px);

			display: flex;
			overflow: hidden;
			min-height: 0;

			.chat-feed-block {
				width: 360px;
				margin-right: 14px;
				background-color: $block-background-color;
				border: 1px solid $border-color;
				border-radius: 10px;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				min-height: 0;
			}

			.chat-stream-block {
				flex: 1;
				margin-right: 14px;
				background-color: $block-background-color;
				border: 1px solid $border-color;
				border-radius: 10px;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				min-height: 0;
			}

			.chat-bots-block {
				width: 320px;
				background-color: $block-background-color;
				border: 1px solid $border-color;
				border-radius: 10px;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				min-height: 0;
			}

			&.chat-layout-feed-collapsed {
				.chat-feed-block {
					display: none;
				}

				.chat-stream-block {
					margin-right: 14px;
				}
			}

			&.chat-layout-bots-collapsed {
				.chat-bots-block {
					display: none;
				}

				.chat-stream-block {
					margin-right: 0;
				}
			}

			&.chat-layout-feed-collapsed.chat-layout-bots-collapsed {

				.chat-feed-block,
				.chat-bots-block {
					display: none;
				}

				.chat-stream-block {
					margin-right: 0;
				}
			}
		}
	}
}