@import "../colors.scss";

.reply-mode-indicator {
	padding: 4px 8px;
	border-radius: 6px;
	background-color: $dark-purple-bg-very-light;
	border: 1px solid $button-active-color;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;

	.reply-mode-indicator-text {
		margin-right: 8px;
	}

	.reply-mode-indicator-text {
		font-family: JuraSemiBold, sans-serif;
		font-size: 11px;
		color: $text-white-color;

		strong {
			font-family: JuraBold, sans-serif;
			color: $text-white-color;
		}
	}

	.reply-mode-indicator-cancel {
		width: 16px;
		height: 16px;
		border-radius: 4px;
		border: 1px solid transparent;
		background-color: transparent;
		color: $text-gray-color;
		font-size: 14px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.2s linear;
		padding: 0;
		line-height: 1;

		&:hover {
			background-color: $red-bg-light;
			color: $text-red-color;
		}

		&:focus {
			outline: none;
		}

		&:active {
			outline: none;
			box-shadow: none;
		}
	}
}