.social-button {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	text-align: center;
	padding: 8px 24px 8px 24px;
	width: 100%;
	border-radius: 20px;
	box-shadow: 10px 10px 15px 0 $black-transparent-light, inset 5px 5px 3px 0 $white-transparent-medium, inset -7px -7px 5px 0 $black-transparent-light;
	border: solid 2px $cyan-light;
	background-color: $gray-dark-2;
	color: $cyan-very-light-2;

	&:focus {
		box-shadow: none;
		outline: none;
	}

	.login-label {
		font-family: JuraBold, sans-serif;
		font-size: 20px;
	}

	.login-logo {
		line-height: 0;
	}
}