@import "../colors.scss";

.not-found-container {
	margin-top: 120px;
	text-align: center;
	color: $white;

	.col-not-found {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.login-button {
		margin-top: 40px;
		width: fit-content;
		padding: 6px 16px;
		border-radius: 20px;
		-webkit-backdrop-filter: blur(25px);
		backdrop-filter: blur(25px);
		box-shadow: 10px 10px 15px $black-transparent-light, inset 5px 5px 8px $white-transparent-medium, inset -7px -7px 10px $black-transparent-light;
		border: solid 2px $cyan-light;
		background-color: $gray-dark-transparent;
		font-family: JuraBold, sans-serif;
		font-size: 16px;
		color: $white;
		cursor: pointer;
		user-select: none;
		transition: all 0.2s ease;

		&:hover {
			transform: translateY(-2px);
			box-shadow: 12px 12px 17px $black-transparent-medium-2, inset 4px 4px 6px $white-transparent-medium, inset -9px -9px 12px $black-transparent-medium-2;
		}

		&:active {
			transform: translateY(2px);
			box-shadow: 5px 5px 10px $black-transparent-light, inset 6px 6px 6px $black-transparent-shadow-3, inset -5px -5px 10px $black-transparent-medium-2;
		}

		&.disabled {
			background-color: $gray-medium-transparent;
			color: $gray-light-transparent;
			cursor: not-allowed;
			pointer-events: none;
			box-shadow: 5px 5px 10px $black-transparent-shadow-3, inset 5px 5px 8px $black-transparent-shadow-2, inset -5px -5px 8px $black-transparent-shadow-3;
		}
	}
}