@import "../colors.scss";

.posts-list {
  flex-grow: 1;
  padding-top: 9px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 310px;

  @media screen and (width >=992px) {
    height: 430px;
  }

  .scrollable-wrap {
    overflow: hidden;
    flex-grow: 1;
    padding-top: 1px;
    max-height: 1500px;

    &.pagination-not-exist {
      &::after {
        bottom: -0px;

        @media screen and (width >=992px) {
          bottom: 0;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 80px;
      top: 9px;
      left: 0;
      z-index: 1;
      background: linear-gradient(0deg, $gray-very-light-transparent 0%, $gray-dark-3 100%);
      transition: opacity 0.2s;
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 80px;
      bottom: 44px;
      left: 0;
      z-index: 1;
      background: linear-gradient(180deg, $gray-very-light-transparent 0%, $gray-dark-3 100%);
      transition: opacity 0.2s;
      pointer-events: none;
    }

    &.without-shadow-down::after {
      opacity: 0;
    }

    &.without-shadow-top::before {
      opacity: 0;
    }

    .carousel-con {
      height: 100%;
      transition: 0.2s;
      width: 100%;
      overflow: hidden visible;

      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-track {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }

      .items-list {
        padding-top: 6px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (width >=992px) {
          justify-content: flex-start;
        }
      }
    }
  }
}