.header-background {
	@import "../../colors.scss";
	width: 100%;
	height: 65px;
	background-color: $block-background-color;
	backdrop-filter: blur(8px);
	border-bottom: 1px solid $border-color;

	.header-block {
		height: 65px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	
		@media screen and (width >= 992px) {}
	
		.header-logo-block {
	
			.header-logo-text {
				.title {
					cursor: pointer;
					font-size: 18px;
					font-family: JuraSemiBold, sans-serif;
					color: $text-gray-color;
				}
			}
		}
	}

	.login-block {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.login-button {
			background-color: $button-background-color;
			padding: 10px 10px 12px;
			cursor: pointer;
			border-radius: 6px;
			transition: background-color 0.2s linear;

			&:hover {
				background-color: $button-hover-color;

				.login-button-text {
					color: $text-white-color;
				}
			}

			.login-button-text {
				line-height: 1;
				font-size: 16px;
				font-family: JuraSemiBold, sans-serif;
				color: $text-gray-color;
			}
		}
	}
}



// .lang-switcher {
// 	display: flex;
// 	gap: 8px;
// 	align-items: center;
// 	margin-left: 16px;

// 	.lang-btn {
// 		background: none;
// 		border: 1px solid #709fa8;
// 		color: #709fa8;
// 		border-radius: 4px;
// 		padding: 2px 10px;
// 		cursor: pointer;
// 		font-weight: 600;
// 		transition: background 0.2s, color 0.2s;
// 		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

// 		&:focus {
// 			outline: none;
// 		}

// 		&.active {
// 			background: #40596b;
// 			color: #39d4ff;
// 		}
// 	}
// }