.header-background {
	@import "../../colors.scss";
	width: 100%;
	height: 65px;
	background-color: $header-background-color;
	backdrop-filter: blur(8px);
	border-bottom: 1px solid $border-color;
	position: relative;
	z-index: 10000;

	.header-block {
		height: 65px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media screen and (width >=992px) {}

		.header-logo-block {

			.header-logo-text {
				.title {
					cursor: pointer;
					font-size: 18px;
					font-family: JuraSemiBold, sans-serif;
					color: $text-gray-color;
				}
			}
		}
	}

	.header-right-block {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.login-block {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 12px;

		.login-button {
			background-color: $button-background-color;
			padding: 10px 10px 12px;
			cursor: pointer;
			border-radius: 6px;
			transition: background-color 0.2s linear;

			&:hover {
				background-color: $button-hover-color;

				.login-button-text {
					color: $text-white-color;
				}
			}

			.login-button-text {
				line-height: 1;
				font-size: 16px;
				font-family: JuraSemiBold, sans-serif;
				color: $text-gray-color;
			}
		}
	}
}