@import "../colors.scss";

.main-login-block {
    padding: 100px 0 0;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .login-content-block {
        width: 100%;
        max-width: 600px;

        .login-title {
            text-align: left;
            text-transform: capitalize;
            font-size: 30px;
            margin-bottom: 8px;
            font-weight: 600;
            color: $text-white-color;
            font-family: JuraBold, sans-serif;
        }

        .login-description {
            text-align: left;
            font-size: 16px;
            color: $text-gray-color;
            font-family: JuraSemiBold, sans-serif;
            margin-bottom: 24px;
        }

        .login-block-content {
            background-color: $block-background-color;
            padding: 40px;
            border-radius: 18px;

            .login-form {
                display: flex;
                flex-direction: column;

                .input-email {
                    margin-bottom: 10px;
                }

                .input-password {
                    margin-bottom: 10px;
                }

                .login-button-default {
                    margin-bottom: 0;
                }
            }

            .input-email,
            .input-password {
                width: 100%;
                text-align: left;
                padding: 6px 25px 6px 25px;
                border-radius: 20px;
                backdrop-filter: blur(30px);
                box-shadow: inset 0 4px 10px 0 $black-transparent-shadow;
                border: solid 2px $gray-medium;
                background-color: $white-transparent-light;
                margin-bottom: 22px;
                color: $cyan-very-light-2;

                &::placeholder {
                    color: $cyan-very-light-2;
                }

                &:focus {
                    outline: none;
                }
            }

            .login-button-default {
                text-align: center;
                padding: 7px 0 7px 0;
                width: 100%;
                border-radius: 20px;
                // box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.4), inset 5px 5px 3px 0 rgba(255, 255, 255, 0.3), inset -7px -7px 5px 0 rgba(0, 0, 0, 0.4);
                border: solid 2px $cyan-light;
                background-color: $button-background-color;
                color: $cyan-very-light-2;
                font-family: JuraBold, sans-serif;
                font-size: 24px;
                box-shadow: unset;
                transition: background-color 0.2s linear;

                &:hover {
                    background-color: $button-hover-color;

                    .login-button-text {
                        color: $text-white-color;
                    }
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}